include ./partials/_head.pug
include ./partials/_nav.pug
body
  h1 Books
  p 
    a(href="/books/new" class="button" class="button") Create New Book
  if filter == "all"
    p.filters Filters: All | #[a(href="/books?filter=overdue") Overdue] | #[a(href="/books?filter=checked_out") Checked Out]
  if filter == "overdue"
    p.filters Filters: #[a(href="/books") All] | Overdue | #[a(href="/books?filter=checked_out") Checked Out]
  if filter == "checked"
    p.filters Filters: #[a(href="/books") All] | #[a(href="/books?filter=overdue") Overdue] | Checked Out
  form.search(action="/search?type=book" method="post")
    input.search-box(type="text" name="query")
    input.search-button(type="submit" value="Search")
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody.itemList
      if books
        each book in books
          tr.item
            td
              a(href="/books/update/" + book.id) #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.first_published}
      if loans
        each loan in loans
          tr.item
            td
              a(href="/books/update/" + loan.Book.id) #{loan.Book.title}
            td #{loan.Book.author}
            td #{loan.Book.genre}
            td #{loan.Book.first_published}
  div.pagination
  script(src="js/jquery-3.1.1.min.js")
  script(src="js/app.js")