include ./partials/_head.pug
include ./partials/_nav.pug
body
  h1 Loans
  p.button 
    a(href="new_loan.html") Create New Loan
  p Filters #[a(href="/allloans") All] | #[a(href="/overdue/loans") Overdue] | Checked Out
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td 
            a(href="/bookdetail/" + loan.Book.id) #{loan.Book.title}
          td
            a(href="/patrondetail/" + loan.Patron.id) #{loan.Patron.first_name} #{loan.Patron.last_name}
          td #{loan.loaned_on}
          td #{loan.return_by}
          td #{loan.returned_on}
          td.button 
            a(href="/returnbook/" + loan.Book.id) Return Book