include ./partials/_head.pug
include ./partials/_nav.pug
body
  h1 Loans
  p 
    a(href="/loans/new" class="button" class="button") Create New Book
  if filter == "all"
    p Filters: All | #[a(href="/loans?filter=overdue") Overdue] | #[a(href="/loans?filter=checked_out") Checked Out]
  if filter == "overdue"
    p Filters: #[a(href="/loans") All] | Overdue | #[a(href="/loans?filter=checked_out") Checked Out]
  if filter == "checked"
    p Filters: #[a(href="/loans") All] | #[a(href="/loans?filter=overdue") Overdue] | Checked Out
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td 
            a(href="/books/update/" + loan.Book.id) #{loan.Book.title}
          td
            a(href="/patrons/update/" + loan.Patron.id) #{loan.Patron.first_name} #{loan.Patron.last_name}
          td #{loan.loaned_on}
          td #{loan.return_by}
          td #{loan.returned_on}
          td.button 
            a(href="/loans/return/" + loan.Book.id) Return Book