include ./partials/_head.pug
include ./partials/_nav.pug
body
  if errors
    h2.error Please fix the following errors and re-submit:
          ul.error
            each item in errors.errors
              li #{item.message}
  h1 New Book
  form(action="/books/new" method="post")
    if data
      p
        if errors.fieldList.title
          label(for="title") Title #[input#title.formError(type="text" name="title" value=data.title)]
        else
          label(for="title") Title #[input#title(type="text" name="title" value=data.title)]
      p
        if errors.fieldList.author
          label(for="author") Author #[input#author.formError(type="text" name="author" value=data.author)]
        else
          label(for="author") Author #[input#author(type="text" name="author" value=data.author)]
      p
        if errors.fieldList.genre
          label(for="genre") Genre #[input#genre.formError(type="text" name="genre" value=data.genre)]
        else
          label(for="genre") Genre #[input#genre(type="text" name="genre" value=data.genre)]
      p
        if errors.fieldList.first_published
          label(for="first_published") First Published #[input#first_published.formError(type="text" name="first_published" value=data.first_published)]
        else
          label(for="first_published") First Published #[input#first_published(type="text" name="first_published" value=data.first_published)]
      p
        input(type="submit" value="Create New Book")
    else
      p
        label(for="title") Title #[input#title(type="text" name="title")]
      p
        label(for="author") Author #[input#author(type="text" name="author")]
      p
        label(for="genre") Genre #[input#genre(type="text" name="genre")]
      p
        label(for="first_published") First Published #[input#first_published(type="text" name="first_published")]
      p
        input(type="submit" value="Create New Book")